
h1
{
color: #262926
}

h2 
{
    color: #0c7fb0
}

p 
{
    color: #FFFFFF;
    font-family:"Comic Sans MS";
    font-size: 20px;
}
body
{
margin-right:45;
padding:50;
}

body 
{
  background-color: #000000
}

.flottant
{
float: right;
}

